body {
  background-image: url("/assets/images/background.jpg");
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

body {
    margin-top: 20vh;
}

.center {
  text-align: center;
}
