body {
  background-image: url("/assets/images/background.png");
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

body {
  margin-top: 20vh;
}

.center {
  text-align: center;
}

.no-text-decoration {
  text-decoration: none;
}

.mybox {
  border-radius: 28px;
background: #e0e0e0;
box-shadow:  8px 8px 16px #bebebe,
             -8px -8px 16px #ffffff;
}

.myposter {
  width: 300px;
  height: 400px;
}
